# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries
* List data science tools
* Make examples of arithmetyc expressions

Some of the popular languages that Data Scientists use are:

1. Phyton
2. R
3. SQL
4. SCALA
5. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
5. Keras
6. Apache spark
7. ggplot2

| Data Science Tools |
| ------------- |
| MySQL     | 
| GitHub   | 
| Jupiter |

### Below are a few examples of evaluating arithmetic expressions in Python

*This a simple arithmetic expression to mutiply then add integers*

In [2]:
(3*4)+5

17

*This will convert 200 minutes to hours by diving by 60*

In [3]:
200/60

3.3333333333333335

## Author
Maria Soledad Cosentino